/* Attribute Selectors ------------- */

.form-contact {
    color: tomato;
    padding: 20px;
    background: gray;
}

#container {
    max-width: 500px;
    margin: auto;
}


/* input[placeholder] {
    color: bisque;
    background: rebeccapurple;
} */

input[type="email"] {
    background: antiquewhite;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

a[target="_blank"] {
    color: tomato;
    text-decoration: none;
    border-bottom: 1px solid tomato;
}