/* Attribute Selectors ------------- */

.form-contact {
    color: tomato;
    padding: 20px;
    background: gray;
}

#container {
    max-width: 500px;
    margin: auto;
}


/* input[placeholder] {
    color: bisque;
    background: rebeccapurple;
} */

input[type="email"] {
    background: antiquewhite;
}

a[target="_blank"] {
    color: tomato;
    text-decoration: none;
    border-bottom: 1px solid tomato;
}


/* DRY classes  */

.br {
    border-radius: .5em;
}

.avatar {
    display: block;
    margin: 0 auto 2em;
}

.rounded {
    border-radius: 50%;
}

.btn {
    cursor: pointer;
    font-size: .875em;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
    opacity: .75;
}

.default {
    background: #52bab3;
}

.error {
    background: #fd6c40;
}


/* Media queries  */

@media (min-width: 769px) {
    .inln {
        width: auto;
        display: inline-block;
    }
    .btn+.btn {
        margin-left: 20px;
    }
}


/* Combinators  */

form>a {
    font-size: .7em;
}