:root {
    background: lightblue;
}

:target {
    background: #beb0ff;
    color: white;
}

#col-c:target {
    background: #00d0ff;
    color: white;
    box-shadow: 10px 10px 20px rgb(69, 2, 255);
}

div:not(#col-a) {
    border: 1px solid rgb(252, 139, 139);
}

input:not([type="submit"]) {
    box-shadow: inset 0 2px 20px #67ff67;
}

.col:not(:first-child),
nav:not(:first-child) {
    margin-left: 15px;
    color: antiquewhite;
}