/* UI element states pseudo-classes ------------ */

input:focus,
textarea:focus {
    border-bottom: 1px solid rgb(250, 129, 0);
}

input:disabled {
    background: rgb(0, 191, 255);
}

input[type="checkbox"]:checked+label {
    font-weight: bold;
    color: rgb(255, 137, 137);
}


/* input:checked {

} */