/* Pseudo-elements -------------------------------- */

.intro::first-line {
    font-size: 1.5rem;
    font-weight: bold;
}

.intro::first-letter {
    font-size: 80px;
    color: #cc95ff;
    float: left;
    padding: 5px 10px;
    background: #4d4d4d;
    border-radius: 5px;
    line-height: 1;
    margin: 10px 10px 0 0;
}


/* .jpg::before {
    content: 'JPG - ';
    font-size: .7rem;
} */

.jpg::before {
    content: url(../img/icn-picture.svg);
    margin-right: 10px;
}

.zip::before {
    content: url(../img/icn-zip.svg);
    margin-right: 10px;
}

.jpg::after {
    content: url(../img/icn-picture.svg);
    margin-left: 10px;
}

.zip::after {
    content: url(../img/icn-zip.svg);
    margin-left: 10px;
}

h1 {
    position: relative;
}


/* h1::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: coral;
    margin: 0 10px
} */

h1::before {
    transition: 1s all ease-in-out;
    left: -5%;
    position: absolute;
    content: '';
    display: inline-block;
    height: 5px;
    width: 50%;
    background: coral;
    margin: 0 10px
}

h1::after {
    transition: 1s all ease-in-out;
    left: -5%;
    bottom: 0%;
    position: absolute;
    content: '';
    display: inline-block;
    height: 5px;
    width: 50%;
    background: coral;
    margin: 0 10px
}

.d-loads a::after {
    content: attr(title);
    display: inline-block;
    color: initial;
    font-size: .7rem;
    margin-left: 5px;
}